
*{
	margin: 0;
	padding: 0;
	font-family: comic sans ms;
	color: #361500;
	box-sizing: border-box;
}
h1, p{margin: 20px 0;}
header, footer{
	padding: 100px;
	color: #361500;
	text-align: center;
	background: url(secondheader.jpg);
	background-size: cover;
	font-size: 25px;
}
.navBar{
	display: flex;
	background: #402218;
	position: sticky;
	top: 0;
}
.navBar a{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 15px 20px;
	transition: 0.3s;
	font-size: 25px;
	text-transform: uppercase;
}
.navBar a:hover{
	background: #FCDEC0;
	color: #402218;
}
.mainContainer{
	display: flex;
}
.sideContent{
	flex: 25%;
	padding: 15px;
	background: #E5B299;
}
.mainContent{
	flex: 75%;
	padding: 15px;
	background: #B4846C
}

.fakeImga{
	padding: 15px;
	color: white;
	width: 200px;
	height: 300px;
	background-image: url(mymainpic.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px 0;
	margin-left: 65px;
}
.fakeImgb{
	padding: 15px;
	color: white;
	width: 200px;
	height: 300px;
	background-image: url(firstpic.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px 0;
	margin-left: 65px;
	margin-top: 20px;
}
.fakeImgc{
	padding: 15px;
	color: white;
	width: 200px;
	height: 300px;
	background-image: url(secondpic.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 50px;
	margin-top: 20px;
}
.fakeImgd{
	padding: 15px;
	color: white;
	width: 200px;
	height: 200px;
	background-image: url(fourthpic.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 60px;
}
.fakeImge{
	padding: 15px;
	color: white;
	width: 100%;
	background-image: url(fampic.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px 0;
}
.fakeImgf{
	padding: 15px;
	color: white;
	width: 100%;
	background-image: url(shsfriends.JPG);
	background-size: cover;
	margin: 20px 0;
}
.fakeImgg{
	padding: 15px;
	color: white;
	width: 100%;
	background-image: url(fourfrnds1.jpg);
	background-size: cover;
	margin: 20px 0;
}
.imgGlry{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
}
@media only screen and (max-width: 800px){
	.navBar{flex-flow: column; position: static;}
	.mainContainer{flex-flow: column;}
	.imgGlry{grid-template-columns: auto;}
}
